/*#region Import */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Code+Pro&display=swap');

/*
font-family: 'Architects Daughter', cursive;
font-family: 'Source Code Pro', monospace;
*/
/*#endregion */
/*#region Index_Styling */
/*
    This is an external stylesheet.
    Designed for mazimum reuse throught the site, linked in the <head> of the HTML pages.
*/
body {
    background-color: darkgray;
}

header {
    background-color: lightgray;
    font-weight: bold;
    color: steelblue;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

main {
    background-color: rgba(190, 190, 190, .6);
}

h1 {
    color: black;
    font-size: 26px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

header h1 {
    color: steelblue;
}

footer {
    background-color: rgba(190, 190, 190, .6);
    font-style: italic;
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 3%
}

ul.blocklist {
    background-color: teal;
    padding: 0;
}
    ul.blocklist li {
        list-style-type: none;
        list-style-image: none;
    }
    ul.blocklist a {
        text-align: center;
        padding: .5em;
        display: block;
        /*makes the entire horizontal area clickable, not just the text*/
    }
        ul.blocklist a:hover {
            background-color: darkblue;
            color: lightblue;
        }
a {
    font-weight: bold;
    text-decoration: none;
}
    a:hover, a:active, a:focus {
        color: lightblue;
        text-decoration: underline;
        background-color: darkblue;
    }

nav a {
    font-weight: bold;
    color: white;
}
    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: gray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

}

    nav ul li:hover {
        background-color: darkgray;
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .4em 1em;
            display: block;
            font-size: 20px;
        }

.navListStyle {
    font-weight: bold;
    background-color: darkgray;
}

#asideStyle {
    background-color: lightgray;
    color: blue;
}
#contactUsList {
    text-decoration: none;
    list-style-type: none;
    padding: 1.5em;
    margin-left: 190px;
    margin-right: 190px
}
main section {
    padding: 2%;
}
main section ul li a {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#headerOverlay {
    background-image: url('../images/pankaj-patel-561360-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
}
header h1, header p {
    margin: 7px 0 7px 150px;
}
header h1 {
    text-align: left;
    letter-spacing: 0.1em;
    
}

header {
    border-radius: 5px;
}

nav ul {
    min-height: 52px;
    background-image: url(../images/jason-leung-D4YrzSwyIEc-unsplash.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 200px;
}

/*#endregion */

/*#region Module7 */

header h1 {
    font: 2.2em 'Architects Daughter', cursive;
}

header p {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
}

main h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.75em;
}

header {
    background-image: url(../images/henry-be-lc7xcWebECc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background: url(../images/bookFav.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

div.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid lightsalmon;
    }

    div.galleryItem img {
        width: 100%;
        height: auto;
    }

    div.galleryItem a:hover {
        background-color: lightsalmon;
    }
    a.trim {
        max-height: 180px;
        max-width: 235px;
        overflow: hidden;
    }

#imageGallery {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

/*#endregion */
